//  Banner 
section#banner
  .inner
    h1 D'CENT Biometric Wallets
    .content
      p Introducing a new generation of über convenient cold storage tools that take the worry out of managing digital asset wealth.
      ul.actions.special
        li
          a.button.small.next(href='https://dcentwallet.com') Buy A Hardware Wallet
