//  Footer 
section#footer.wrapper
  .inner
    .split
      .content
        header
          h2 Connect
        p IoTrust focuses exclusively on innovative cold storage solutions that simplify digital asset management. Connect with us to learn more about the world's most advanced hardware wallets.
        // Begin Mailchimp Signup Form
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action='https://iotrusrt.us20.list-manage.com/subscribe/post?u=e49b2871df6358e2ada84541c&id=3d2cf843c4', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            #mc_embed_signup_scroll.row.gtr-uniform
              .mc-field-group.col-6.col-12-xsmall
                input#mce-EMAIL.required.email(type='email', placeholder='email@address.com', name='EMAIL')
              .mc-field-group.col-6.col-12-xsmall
                input#mc-embedded-subscribe.primary.fit.button(type='submit', value='Subscribe To Our Newsletter', name='subscribe')
              #mce-responses.clear
                #mce-error-response.response(style='display:none')
                #mce-success-response.response(style='display:none')
              div(style='position: absolute; left: -5000px;', aria-hidden='true')
                input(type='text', name='b_e49b2871df6358e2ada84541c_3d2cf843c4', tabindex='-1', value='')
        // End mc_embed_signup
      ul.contact-icons
        li
          a.icon.alt.row#twitter-connect(href='https://twitter.com/iotrustkr')
            .col-4
              span.icon.fa-stack.fa-2x
                i.far.fa-circle.fa-stack-2x
                i.fab.fa-twitter.fa-stack-1x
            .col-8
              sub.label twitter.com/iotrustkr
        li
          a.icon.alt.row#facebook-connect(href='https://facebook.com/iotrustkr')
            .col-4
              span.icon.fa-stack.fa-2x
                i.far.fa-circle.fa-stack-2x
                i.fab.fa-facebook.fa-stack-1x
            .col-8
              sub.label facebook.com/iotrustkr
        li
          a.icon.alt.row#instagram-connect(href='https://instagram.com/iotrustkr')
            .col-4
              span.icon.fa-stack.fa-2x
                i.far.fa-circle.fa-stack-2x
                i.fab.fa-instagram.fa-stack-1x
            .col-8
              sub.label instagram.com/iotrustkr
        li
          a.icon.alt.row#email-connect(href='mailto:info@iotrust.kr')
            .col-4
              span.icon.fa-stack.fa-2x
                i.far.fa-circle.fa-stack-2x
                i.fas.fa-envelope.fa-stack-1x
            .col-8
              sub.label info@iotrust.kr
