//  Nav 
nav#menu
  .inner
    h2 Menu
    ul.links
      li
        a(href='#introduction') Our Solutions
      li
        a(href='#download') Mobile Apps
      li
        a(href='#team') About Us
      li
        a(href='#connect') Connect Now
    a.close
      span Close
