extends generic.pug
block splash
  //  Splash
  section#splash.wrapper.style2
    .inner
      header.major.special
        h2 IoTrust
        p Delivering Trusted Connectivity
block main
  //  Main
  section#main.wrapper
    .inner
      a(href='https://medium.com/iotrust/introducing-io-trust-16c536c6a65c').image.main
        img(src='images/iotrust-team.png' alt)
      h2 Our Company
      p IoTrust Company (Korea) Limited was founded in January 2017. We are venture capital funded. Jiran Security and Korea Investment Partners, Korea’s premier venture capital group, identified the potential for growth in the market for hardware wallets and were willing to place their bets on us.
      p We are security specialists. Our team boasts an average of 17+ years of relevant experience in the security domain.
      p Our security experts leverage highly-specialized knowledge of Secure Element (SE) and Trusted Execution Environment (TEE) technologies to make hardware wallets easier to use.
      h2 Our Team
      p IoTrust teams is comprised of security veterans.
      h2 Our Press Coverage
      p IoTrust makes D'CENT Wallets. Our D'CENT Biometric Wallet is the world's first and only certified biometric hardware wallet. We bring peace of mind to the cryptocurrency world. Our biometrically-powered cold storage solution literally puts the management of precious digital assets at your fingertips.
