extends generic.pug
block splash
  //  Splash
  section#splash.wrapper.style2
    .inner
      header.major.special
        h2 IoTrust
        p Delivering Trusted Connectivity
block main
  //  Main
  section#main.wrapper
    .inner
      a(href='https://medium.com/iotrust/introducing-io-trust-16c536c6a65c').image.main
        img(src='images/iotrust-team.png' alt)
      h2 Our Company
      p IoTrust Company (Korea) Limited was founded in January 2017. We are venture capital funded. Jiran Security and Korea Investment Partners, Korea’s premier venture capital group, identified the potential for growth in the market for hardware wallets and were willing to place their bets on us.
      p We are security specialists. Our team boasts an average of 17+ years of relevant experience in the security domain.
      p Our security experts leverage highly-specialized knowledge of Secure Element (SE) and Trusted Execution Environment (TEE) technologies to make hardware wallets easier to use.
      h2 Our Team
      p Our team members have made outstanding contributions to chip technology.
      .box.alt
        .row
          .col-4
            span.image.fit
              img(src='images/team/sangsubaek.png' alt='Sangsu Baek')
            h6 Dr. Sangsu Baek, CEO
            p Formerly HansolSecure Mobile Security Division Vice President. Chungnam National University, PhD.
          .col-4
            span.image.fit
              img(src='images/team/tedjoo.png' alt='Ted Joo')
            h6 Dr. Ted Joo, CTO
            p Formerly Onoffmix Vice President. GIST PhD Candidate.
          .col-4
            span.image.fit
              img(src='images/team/ellacho.png' alt='Ella Cho')
            h6 Ms. Ella Cho, COO
            p Formerly HansolSecure Finance & Banking Division Vice President. Chungang University, B.A.
        .row
          .col-4
            span.image.fit
              img(src='images/team/minhoyoo.png' alt='Minho Yoo')
            h6 Mr. Minho Yoo, CSO
            p Formerly Curaysoft CEO and HansolSecure Research & Development Head. Seoul National University, B.Sc.
          .col-4
            span.image.fit
              img(src='images/team/munairsimpson.png' alt='Munair Simpson')
            h6 Mr. Munair Simpson, CMO
            p Formerly New Media Business Strategist at SK Telecom. University of Pennsylvania, Wharton MBA.
          .col-4
            span.image.fit
              img(src='images/team/moonpark.png' alt='Moon Park')
            h6 Dr. Moon Park, Advisor
            p Formerly Qualcomm Vice President and LGE General Manager. George Washington University, PhD.
      h2 Our Press Coverage
      p IoTrust makes D'CENT Wallets. Our D'CENT Biometric Wallet is the world's first and only certified biometric hardware wallet. We bring peace of mind to the cryptocurrency world. Our biometrically-powered cold storage solution literally puts the management of precious digital assets at your fingertips.
      h2 Our Offices
      p IoTrust Company Limited (Korea), Gasan Business Center, Suite 501, 165 Gasan Digital 1-Ro, Geumcheon-gu, Seoul, Korea, +82 2 6959 3559 (Office), +82 2 6959 3564 (Fax)
