extends layout.pug
block main
  //  Main
  section#main.wrapper
    .inner
      .content
        header
          h1= message
          h2= error.status
        p #{error.stack}
        ul.actions
          li
            a.button.next(href='index.html') Home Page
