extends layout.pug
block introduction
  //  Introduction
  section#introduction.wrapper
    .inner
      .split
        .content
          header
            h2 Cold Storage Simplified
          p Cold storage solutions prevent unauthorized network access to your digital assets. Removing the constant threat that came with an Internet connection also meant removing convenience. 
          p Our Biometric Wallet is changing that. The D'CENT Biometric Wallet is the world's first über convenient cold storage solution.
          p Our easy-to-use hardware wallets are never directly exposed to the Internet. D’CENT Wallets use certified EAL5+ Secure Element (SE) technology to securely store sensitive information and mitigate network threats. All operations in D’CENT Wallets are safely executed in our Secure OS.
        .box.alt
          .row#wallet-display
            .col-2
            .col-8
              span.image.fit#dcent-biometric-wallet-diplay-image
                img(src='images/iotrust-biometric-wallet-displayed-564x840px.png' alt='Biometric Wallet')
            .col-2
      .box.alt
        .row#dcent-biometric-wallet-features
          .col-1.col-2-medium.col-3-xsmall
            span.icon.fa-stack.fa-2x
              i.far.fa-circle.fa-stack-2x
              i.fas.fa-award.fa-stack-1x
          .col-2.col-4-medium.col-9-xsmall
            .row
              sub EAL5+ Certified
            .row
              sub Secure Element
          .col-1.col-2-medium.col-3-xsmall
            span.icon.fa-stack.fa-2x
              i.far.fa-circle.fa-stack-2x
              i.fas.fa-fingerprint.fa-stack-1x
          .col-2.col-4-medium.col-9-xsmall
            .row
              sub Biometric
            .row
              sub Authentication
          .col-1.col-2-medium.col-3-xsmall
            span.icon.fa-stack.fa-2x
              i.far.fa-circle.fa-stack-2x
              i.fab.fa-bluetooth-b.fa-stack-1x
          .col-2.col-4-medium.col-9-xsmall
            .row
              sub Bluetooth
            .row
              sub Low Energy
          .col-1.col-2-medium.col-3-xsmall
            span.icon.fa-stack.fa-2x
              i.far.fa-circle.fa-stack-2x
              i.fas.fa-eye.fa-stack-1x
          .col-2.col-4-medium.col-9-xsmall
            .row
              sub OLED
            .row
              sub Display
      p The D'CENT Biometric Wallet turns the initiation of a transaction into a trivial flick of an authenticated finger.
      ul.actions
        li
          a.button.next(href='https://dcentwallet.com/overview/specification.html') Learn More
block download
  //  Download
  section#download.wrapper.style2
    .inner
      .split
        .content
          header
            h2 Mobile Apps
          p We've focused on developing iOS and Android mobile apps for those that want to securely manage their digital assets with our hardware wallets.
          p Download the app for your mobile device. Use it to securely and conveniently manage your digital assets with D'CENT Wallets.
          a(href='https://play.google.com/store/apps/details?id=com.kr.iotrust.dcent.wallet')
            .badge.col-6.col-12-xsmall
              span
                img(src='images/badges/google-play-badge.png')
          a(href='https://itunes.apple.com/kr/app/dcent-hardware-wallet/id1447206611?mt=8')
            .badge.col-6.col-12-xsmall
              span
                img(src='images/badges/app-store-badge.png')
        a(href='#').image.fit
          img(src='images/dcent-wallet-mobile-app-display.png' style='padding-top:4rem' alt)
block team
  //  Team
  section#team.wrapper
    .inner
      a(href='https://medium.com/iotrust/introducing-io-trust-16c536c6a65c').image.main#iotrust-team
        img(src='images/iotrust-team.png' alt)
      h2#team-heading IoTrust
      p IoTrust was founded in January 2017 by eight veteran technologists averaging two decades of experience in deeply embedded security software and systems. We are the visionaries that pioneered the world's first dual-interface USIM smart card. The team is based in Korea and is particularly versed in Secure Element and TrustZone technology.
      p We are venture capital funded. Jiran Security and Korea Investment Partners, Korea’s premier venture capital group, identified our capacity to deliver the world's best hardware wallets because of our unique expertise in enabling mobile payment through smartphones and successes in the commercialization of Trusted Execution Environment technology.
      p Presently, the team consists of 23 people. We are all committed to building secure IoT (Internet of Things) and blockchain solutions for an increasingly digitally-connected world.
