extends layout.pug
block presentation
  //  Presentation
  section#presentation.wrapper
    .inner
      .split
        .content
          header
            h2 Cold Storage Simplified
          p Cold storage solutions prevent unauthorized network access to your digital assets. Removing the constant threat that came with an Internet connection also meant removing convenience. 
          p Our Biometric Wallet is changing that. The D'CENT Biometric Wallet is the world's first über convenient cold storage solution.
        img.left#biometric-wallet-profile(src="images/dcent-biometric-wallet-in-perspective-1000x1000px.jpg" width="200px" height="200px" alt="D'CENT Biometric Wallet")
block main
  //  Main
  section#main.wrapper
    .inner
      .content
        header
          h2 Certified Secure
        p Our easy-to-use hardware wallets are never directly exposed to the Internet. D’CENT Wallets use certified EAL5+ Secure Element (SE) technology to securely store sensitive information and mitigate network threats. All operations in D’CENT Wallets are safely executed in our Secure OS.
        p The D'CENT Biometric Wallet turns the initiation of a transaction into a trivial flick of an authenticated finger.
        ul.actions
          li
            a.button.next(href='about.html') Learn More
